.list-item {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 60%;
    border: solid #ccc 1px;
    padding: 10px;
}

.region-img2{
    width: 20%;

}

.detailText{
   
    margin-top: 70px;
    width: 50%;
}

.detailsButton{
    margin-top: 50px;
    height: 7vh;
    width: 16vh;

}

